<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">

        <title>Baanee's Guestbook</title>
    </head>

    <body>
        {% if session %} 
        <h1>Session exists</h1>
        <code>
            <pre>
                {{session.user|tojson}}
            </pre>
        </code>
        {% else %}
        <h1>No session</h1>
        {% end if %}
    
        <h1>Guestbook Hosted Via Render</h1>

        <form method = "post">
            <label for="name">Name</label>
            <input type="text" name="name" required>
            <br>
            <label for="message">Message:</label>
            <textarea name="text"></textarea>   
            <br>
            <button type="submit">Sign Guestbook</button>
        </form>

        <h2>Guest List</h2>
        <ul>
            {% for guest in guests %}
                <li><strong>{{ guest['name'] }}</strong>: {{ guest['message'] }}</li>
            {% endfor %}
        </ul>

    </body>
</html>